<%- include('layout/admin_header') %>
<style>
    
</style>
<section class="welcome">
    <h2>Your Health, Our Priority</h2>
    <p>Blood Buddy is dedicated to managing blood donations and requests efficiently. Our goal
        is to ensure that every patient in need receives the blood they require and to keep our
        donors informed and appreciated.</p>
</section>
<section class="features">
    <a href="/admin/donors" class="feature-link">
        <div class="feature-card">
            <i class="fas fa-user"></i>
            <h3>Manage Donors</h3>
            <p>Keep track of donor information and blood types.</p>
        </div>
    </a>
    <a href="/admin/patients" class="feature-link">
        <div class="feature-card">
            <i class="fas fa-user-injured"></i>
            <h3>Manage Patients</h3>
            <p>Maintain patient records and blood request statuses.</p>
        </div>
    </a>
    <a href="/admin/blood_donations" class="feature-link">
        <div class="feature-card">
            <i class="fas fa-hand-holding-heart"></i>
            <h3>Blood Donations</h3>
            <p>Record and manage blood donations effortlessly.</p>
        </div>
    </a>
    <a href="/admin/blood_requests" class="feature-link">
        <div class="feature-card">
            <i class="fas fa-clipboard-list"></i>
            <h3>Blood Requests</h3>
            <p>Handle blood requests and ensure timely fulfillment.</p>
        </div>
    </a>
    <a href="/admin/request_history" class="feature-link">
        <div class="feature-card">
            <i class="fas fa-history"></i>
            <h3>Request History</h3>
            <p>View the history of blood requests and their status.</p>
        </div>
    </a>
    <a href="/admin/blood_stock" class="feature-link">
        <div class="feature-card">
            <i class="fas fa-tint"></i>
            <h3>Blood Stock</h3>
            <p>Monitor the blood stock and manage inventory.</p>
        </div>
    </a>
</section>
<footer class="footer">
    <div class="container">
        <p>Contact Us: Najeeb Ullah Khan</p>
        <p>Email: <a href="mailto:najeebpatoana007@gmail.com">najeebpatoana007@gmail.com</a></p>
        <p>University: Riphah International University</p>
        <p>Phone: <a href="tel:+923430694964">+92 343 069 4964</a></p>
        <p>Follow us on:</p>
        <div class="social-links">
            <a href="https://github.com/Najeeb-Patoana" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/najeeb-ullah-khan-7bab7625a/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
  </footer>
<%- include('layout/admin_footer') %>