<%- include('layout/header') %>
<main>
    <div class="main-content">
        <div class="main-content">
            <div class="carousel carousel-desktop">
                <img src="/Images/desktop/blood_buddy.jpg" alt="Blood Buddy">
                <img src="/Images/desktop/2.jpg" alt="Hand Image">
                <img src="/Images/desktop/tubes2.jpg" alt="Two Tubes 3">
                <img src="/Images/desktop/tubes.jpg" alt="More Tubes">
                <img src="/Images/desktop/injection2.jpg" alt="Injection 1">
                <img src="/Images/desktop/injection.png" alt="Injection 2">
                <img src="/Images/desktop/hero.png" alt="Be a hero">
                <img src="/Images/desktop/save.png" alt="Donate Blood Save Lives">
                <img src="/Images/desktop/centre.jpg" alt="Centre">
            </div>
            <div class="carousel carousel-mobile">
                <img src="/Images/mobile/drop.jpg" alt="Mobile Image 1">
                <img src="/Images/mobile/mask.jpg" alt="Mobile Image 2">
                <img src="/Images/mobile/filled_injection.jpg" alt="Mobile Image 3">
                <img src="/Images/mobile/injection_in_black_circle.jpg" alt="Mobile Image 4">
                <img src="/Images/mobile/yellow_tubes.jpg" alt="Mobile Image 5">
                <img src="/Images/mobile/blue_gloves_injection.jpg" alt="Mobile Image 6">
                <img src="/Images/mobile/white_red_injection.jpg" alt="Mobile Image 6">
                <img src="/Images/mobile/black_injection.jpg" alt="Mobile Image 6">
            </div>
        </div>
    </div>
</main>
<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>About</h5>
                <p>Blood Buddy is dedicated to connecting blood donors with those in need, ensuring a reliable supply of blood for medical emergencies.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Contact</h5>
                <p>Email: <a href="mailto:najeebpatoana007@gmail.com" class="text-white"  style="text-decoration: none;">najeebpatoana007@gmail.com</a></p>
                <p>Phone: +92 3430694964</p>
                <p>Address:  Blood Bank, Jhang</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Follow Us</h5>
                <a href="https://github.com/Najeeb-Patoana" target="_blank" class="text-white me-3"  style="text-decoration: none;">
                    <i class="fab fa-github"></i> GitHub
                </a>
                <a href="https://www.linkedin.com/in/najeeb-ullah-khan-7bab7625a/" target="_blank" class="text-white me-3" style="text-decoration: none;">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <p class="mb-0">&copy; 2024 Najeeb Ullah Khan</p>
            </div>
        </div>
    </div>
</footer>
    <%- include('layout/footer') %>